<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Management</title>
</head>
<body>
    <h1>Expense Management</h1>
    <form action="{{ url_for('add_expenses') }}" method="post">
        {{ form.hidden_tag() }}
        <label for="category">Category:</label>
        <select name="category">
            {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="price">Price:</label>
        <p>
            {{ form.price(size=32) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <label for="description">Description:</label>
        <p>
            {{ form.description(size=32) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <label for="date">Date (dd.mm.yyyy):</label>
        <p>
            {{ form.date(size=32) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <input type="submit" value="Submit">
    </form>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>